django==4.1
boto3
celery
djangorestframework
django-debug-toolbar
django-redis-cache
django-storages
drf-yasg
drf-yasg[validation]
gunicorn
markdown
markdown-urlize
pandas
psycopg2
python-decouple
redis
sentry-sdk
uvicorn[standard]
watchgod
whitenoise
